html body {
	font-family: 'Poppins',sans-serif;
	font-size: 16px;
	scroll-behavior: smooth;
}

.btn-primary, .btn-primary:hover {
    background-color: #f44336;
    border-color: #f44336;
}

#page_top .text-primary {
    color: #f44336!important;
}

#page_top .btn-secondary {
    color: #000;
    background-color: #fff;
    border-color: #fff;
    border-radius: 50px;
}

#mainNav.navbar-scrolled {
	-webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
	background-color: #000;
	transition: background-color 0.3s;
}

#mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link:hover {
	color: #fff;
}

header.masthead {
    height: 100vh;
    min-height: 40rem;
    padding-top: 72px;
    padding-bottom: 0;
}

header.masthead {
	height: 100vh;
    text-align: center;
    color: white;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

header.masthead h1 {
	font-size: 3.5em;
	font-weight: 900;
	font-style: italic;
	letter-spacing: -4px;
}

header.masthead img {
	max-width: 150px;
}

#mainNav .navbar-nav .nav-item .nav-link {
	color: #646363;
	font-weight: 600;
}

section h2 {
	font-weight: 900;
	font-style: italic;
}

.service-icon-container {
	text-align: center;
}

@media (min-width: 992px){
	.service-icon-container {
		text-align: left;
	}

	header.masthead h1 {
		font-size: 4.5em;
	}
	header.masthead img {
		max-width: 100%;
	}
}

#portfolio .portfolio-item {
    margin-bottom: 10px;
}

@media (min-width: 767px){
	#portfolio .portfolio-item {
	    margin: 0 0 30px;
	}
}


#portfolio * {
    z-index: 2;
}

#portfolio .portfolio-item .portfolio-link {
    position: relative;
    display: block;
    max-width: 400px;
    margin: 0 auto;
    cursor: pointer;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: all ease .5s;
    transition: all ease .5s;
    opacity: 0;
    background: rgba(244, 67, 54, 0.9);
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    font-size: 20px;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    color: #fff;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-caption {
    max-width: 400px;
    margin: 0 auto;
    padding: 25px;
    text-align: center;
    background-color: #fff;
}

#portfolio .portfolio-item .portfolio-caption h4 {
	color: #000;
    margin: 0;
    text-transform: none;
}

#portfolio .portfolio-item .portfolio-caption p {
    font-size: 16px;
    font-style: italic;
    margin: 0;
}

#about {
    background: url('https://images.unsplash.com/photo-1449824913935-59a10b8d2000?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.overlay {
    background: rgba(0,0,0,0.50);
}

section#contact {
    background-color: #212529;
    background-image: url('https://images.unsplash.com/photo-1485770958101-9dd7e4ea6d93?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

section#contact .form-group input, section#contact .form-group textarea {
    padding: 20px;
}

section#contact .form-group input.form-control {
    height: auto;
}

section#contact .form-group textarea.form-control {
    height: 248px;
}

section#contact .form-group {
    margin-bottom: 25px;
}

ul.social-buttons li a {
    font-size: 20px;
    line-height: 50px;
    display: block;
    width: 50px;
    height: 50px;
    -webkit-transition: all .3s;
    transition: all .3s;
    color: #fff;
    border-radius: 100%;
    outline: 0;
    background-color: #212529;
}